
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.idea/.name
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/446d9fe2-0db1-4058-95b9-608f03981058.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/NannysPizza.iml
.idea/other.xml
.idea/sqlDataSources.xml
.idea/vcs.xml
__pycache__/Aniadir_retiro_Dialog.cpython-310.pyc
__pycache__/Aniadir_retiro_Dialog.cpython-38.pyc
__pycache__/Aniadir_usuario_Dialog.cpython-310.pyc
__pycache__/Aniadir_usuario_Dialog.cpython-38.pyc
__pycache__/añadir_comentario_Dialog.cpython-310.pyc
__pycache__/añadir_comentario_Dialog.cpython-38.pyc
__pycache__/añadir_ingrediente_Dialog.cpython-310.pyc
__pycache__/añadir_ingrediente_Dialog.cpython-38.pyc
__pycache__/edicion_producto_boleta_dialogo.cpython-310.pyc
__pycache__/edicion_producto_boleta_dialogo.cpython-38.pyc
__pycache__/Eliminar_usuario_Dialog.cpython-310.pyc
__pycache__/Eliminar_usuario_Dialog.cpython-38.pyc
__pycache__/Export_boletin_fechas_Dialog.cpython-310.pyc
__pycache__/Export_boletin_fechas_Dialog.cpython-38.pyc
__pycache__/file_browser_dialog.cpython-310.pyc
__pycache__/file_browser_dialog.cpython-38.pyc
__pycache__/inicio_session.cpython-38.pyc
__pycache__/inicio_session_dialogo.cpython-310.pyc
__pycache__/inicio_session_dialogo.cpython-38.pyc
__pycache__/main.cpython-310.pyc
__pycache__/MainWindow.cpython-38.pyc
__pycache__/MainWindow_loged.cpython-310.pyc
__pycache__/MainWindow_loged.cpython-38.pyc
__pycache__/Modificar_usuario_Dialog.cpython-310.pyc
__pycache__/Modificar_usuario_Dialog.cpython-38.pyc
__pycache__/pagar_Dialog.cpython-310.pyc
__pycache__/pagar_Dialog.cpython-38.pyc
__pycache__/seleccion_promo_prduct_Dialog.cpython-310.pyc
__pycache__/seleccion_promo_prduct_Dialog.cpython-38.pyc
Controller/__pycache__/ControlModule.cpython-310.pyc
Controller/__pycache__/ControlModule.cpython-38.pyc
Database/__pycache__/DatabaseModule.cpython-310.pyc
Database/__pycache__/DatabaseModule.cpython-38.pyc
